* {
    margin: 0;
    padding: 0;
}

#info-tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}

#banner {
    background: #4c2615;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 64px;

    img {
        width: 70px;
    }
}

#list-container {
    margin-top: 32px;

    .restaurant-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        /* border: 1px solid red; */
        padding: 20px;

        img {
            width: 120px;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}
