* {
    margin: 0;
    padding: 0;
}

#search-box {
    background-color: #4c2615;
    padding: 64px;

    #top-row {
        input {
            width: 100%;
            border-radius: 32px;
            padding: 10px;
        }
    }

    #bottom-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 32px;
    }
}

#restaurant-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .restaurant-container {
        /* border: 1px solid red; */
        text-decoration: none;
        color: black;

        img {
            width: 100%;
        }
    }

    .restaurant-container:hover {
        border: 1px solid red;
    }
}

#modal {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-items: center;
    align-content: center;
    backdrop-filter: blur(4px);

    #modal-container {
        background: #d9d9d9;
        width: 500px;
        border: 16px;
        padding: 32px;
    }
}